<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <br>
                    <div class="uk-form-row">
                        <div class="uk-width-medium-1-3">
                            <label for="login_username">Buscar</label>
                            <input class="md-input" type="text" id="login_username" ng-model="login_username" md-input />
                        </div>
                    </div>
                    <br>
                    <table class="uk-table uk-table-nowrap">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center small_col">
                                    <input type="checkbox" icheck ng-model="table1.selectAll" class="check_all" table-check-all>
                                </th>
                                <th class="uk-width-2-10">Solicitante</th>
                                <th class="uk-width-2-10 uk-text-center">Fecha</th>
                                <th class="uk-width-1-10 uk-text-center">Asunto</th>
                                <th class="uk-width-1-10 uk-text-center">Estado</th>
                                <th class="uk-width-2-10 uk-text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row1" class="check_row" table-check-row>
                                </td>
                                <td>Valerie Barton</td>
                                <td class="uk-text-center">55/2015</td>
                                <td class="uk-text-center">13-11-1997</td>
                                <td class="uk-text-center"><span class="uk-badge uk-badge-success">Shipped</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row2" class="check_row" table-check-row>
                                </td>
                                <td>Rossie Zboncak</td>
                                <td class="uk-text-center">89/2015</td>
                                <td class="uk-text-center">26-09-1978</td>
                                <td class="uk-text-center"><span class="uk-badge uk-badge-success">Shipped</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row3" class="check_row" table-check-row>
                                </td>
                                <td>Arnoldo Dare</td>
                                <td class="uk-text-center">3/2015</td>
                                <td class="uk-text-center">17-09-2013</td>
                                <td class="uk-text-center"><span class="uk-badge">Accepted</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row4" class="check_row" table-check-row>
                                </td>
                                <td>Jonatan Larkin</td>
                                <td class="uk-text-center">36/2015</td>
                                <td class="uk-text-center">09-03-2007</td>
                                <td class="uk-text-center"><span class="uk-badge">Accepted</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row5" class="check_row" table-check-row>
                                </td>
                                <td>Talia Labadie</td>
                                <td class="uk-text-center">71/2015</td>
                                <td class="uk-text-center">01-07-2010</td>
                                <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row6" class="check_row" table-check-row>
                                </td>
                                <td>Alverta Gusikowski</td>
                                <td class="uk-text-center">39/2015</td>
                                <td class="uk-text-center">26-09-2007</td>
                                <td class="uk-text-center"><span class="uk-badge uk-badge-success">Shipped</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row7" class="check_row" table-check-row>
                                </td>
                                <td>Maximus Walsh</td>
                                <td class="uk-text-center">69/2015</td>
                                <td class="uk-text-center">08-05-1976</td>
                                <td class="uk-text-center"><span class="uk-badge uk-badge-success">Shipped</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck ng-model="table.row8" class="check_row" table-check-row>
                                </td>
                                <td>Zella Cummings</td>
                                <td class="uk-text-center">25/2015</td>
                                <td class="uk-text-center">14-01-1982</td>
                                <td class="uk-text-center"><span class="uk-badge uk-badge-primary">New</span></td>
                                <td class="uk-text-center">
                                    <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="uk-pagination uk-margin-medium-top">
                    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                    <li class="uk-active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><span>&hellip;</span></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>