<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">Tree plugin</h3>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">Single selection</h3>
                        <div id="tA" class="fancytree-radio">
                            <ul id="tAData" style="display: none;">
                                <li id="tA_1" class="folder expanded">
                                    Themes
                                    <ul>
                                        <li id="tA_1_1" data-icon="envato_ico.png"><a href="http://themeforest.net/item/altair-admin-material-design-premium-template/12190654?ref=tzd" target="_blank">CJuridico</a></li>
                                        <li id="tA_1_2" data-icon="envato_ico.png"><a href="http://themeforest.net/item/yukon-clean-hires-admin-template/8746080?ref=tzd" target="_blank">Yukon Admin</a></li>
                                        <li id="tA_1_3" data-icon="envato_ico.png"><a href="http://themeforest.net/item/tisa-premium-admin-template/7223491?ref=tzd" target="_blank">Tisa Admin</a></li>
                                        <li id="tA_1_4" data-icon="envato_ico.png"><a href="http://themeforest.net/item/ebro-super-clean-responsive-admin-template/5682418?ref=tzd" target="_blank">Ebro Admin</a></li>
                                        <li id="tA_1_5" data-icon="envato_ico.png"><a href="http://themeforest.net/item/gebo-admin-responsive-template/2440015?ref=tzd" target="_blank">Gebo Admin</a></li>
                                    </ul>
                                </li>
                                <li id="tA_2" class="folder">
                                    Folder 1
                                    <ul>
                                        <li id="tA_2_1">SubFolder 1</li>
                                        <li id="tA_2_2">SubFolder 2</li>
                                        <li id="tA_2_3">SubFolder 3</li>
                                    </ul>
                                </li>
                                <li id="tA_3" class="folder">
                                    Folder 2
                                    <ul>
                                        <li id="tA_3_1">SubFolder 1</li>
                                        <li id="tA_3_2">SubFolder 2</li>
                                        <li id="tA_3_3">SubFolder 3</li>
                                    </ul>
                                </li>
                                <li id="tA_4" data-icon="ic_wallpaper_black_18px.svg">Custom Icon</li>
                                <li id="tA_5" data-icon="ic_code_black_18px.svg">Custom Icon</li>
                                <li id="tA_6" data-icon="ic_audiotrack_black_18px.svg">Custom Icon</li>
                                <li id="tA_7" data-icon="ic_attachment_black_18px.svg">Custom Icon</li>
                                <li id="tA_8" data-icon="ic_bug_report_black_18px.svg">Custom Icon</li>
                                <li id="tA_9" data-icon="ic_file_download_black_18px.svg">Custom Icon</li>
                                <li id="tA_10" data-icon="ic_insert_emoticon_black_18px.svg">Custom Icon</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">Multiple selection</h3>
                        <div id="tB">
                            <ul id="tBData" style="display: none;">
                                <li id="tB_1" class="folder expanded">
                                    Themes
                                    <ul>
                                        <li id="tB_1_1" data-icon="envato_ico.png"><a href="http://themeforest.net/item/altair-admin-material-design-premium-template/12190654?ref=tzd" target="_blank">CJuridico</a></li>
                                        <li id="tB_1_2" data-icon="envato_ico.png"><a href="http://themeforest.net/item/yukon-clean-hires-admin-template/8746080?ref=tzd" target="_blank">Yukon Admin</a></li>
                                        <li id="tB_1_3" data-icon="envato_ico.png"><a href="http://themeforest.net/item/tisa-premium-admin-template/7223491?ref=tzd" target="_blank">Tisa Admin</a></li>
                                        <li id="tB_1_4" data-icon="envato_ico.png"><a href="http://themeforest.net/item/ebro-super-clean-responsive-admin-template/5682418?ref=tzd" target="_blank">Ebro Admin</a></li>
                                        <li id="tB_1_5" data-icon="envato_ico.png"><a href="http://themeforest.net/item/gebo-admin-responsive-template/2440015?ref=tzd" target="_blank">Gebo Admin</a></li>
                                    </ul>
                                </li>
                                <li id="tB_2" class="folder">
                                    Folder 1
                                    <ul>
                                        <li id="tB_2_1">SubFolder 1</li>
                                        <li id="tB_2_2">SubFolder 2</li>
                                        <li id="tB_2_3">SubFolder 3</li>
                                    </ul>
                                </li>
                                <li id="tB_3" class="folder">
                                    Folder 2
                                    <ul>
                                        <li id="tB_3_1">SubFolder 1</li>
                                        <li id="tB_3_2">SubFolder 2</li>
                                        <li id="tB_3_3">SubFolder 3</li>
                                    </ul>
                                </li>
                                <li id="tB_4" class="img-svg" data-icon="ic_wallpaper_black_18px.svg">Custom Icon</li>
                                <li id="tB_5" class="img-svg" data-icon="ic_code_black_18px.svg">Custom Icon</li>
                                <li id="tB_6" class="img-svg" data-icon="ic_audiotrack_black_18px.svg">Custom Icon</li>
                                <li id="tB_7" class="img-svg" data-icon="ic_attachment_black_18px.svg">Custom Icon</li>
                                <li id="tB_8" class="img-svg" data-icon="ic_bug_report_black_18px.svg">Custom Icon</li>
                                <li id="tB_9" class="img-svg" data-icon="ic_file_download_black_18px.svg">Custom Icon</li>
                                <li id="tB_10" class="img-svg" data-icon="ic_insert_emoticon_black_18px.svg">Custom Icon</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">Filters</h3>
                        <div class="uk-grid uk-margin-small-bottom">
                            <div class="uk-width-medium-1-3" id="filter_switches">
                                <div class="uk-margin-bottom">
                                    <div class="uk-input-group">
                                        <input type="text" class="md-input" placeholder="Filter tree.." id="filter_input" ng-model="tree.filterInput">
                                        <span class="uk-input-group-addon"><button class="md-btn md-btn-small" href="#" id="tree_filter_reset" ng-click="resetFilters($event)" ng-disabled="tree.filterInput == ''">Clear</button></span>
                                    </div>
                                </div>
                                <p>
                                    <input type="checkbox" name="hideMode" id="hideMode" icheck ng-model="tree.hideMode" />
                                    <label for="hideMode" class="inline-label">Hide unmatched nodes</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="leavesOnly" id="leavesOnly" icheck ng-model="tree.leavesOnly" />
                                    <label for="leavesOnly" class="inline-label">Leaves only</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="autoExpand" id="autoExpand" icheck ng-model="tree.autoExpand" />
                                    <label for="autoExpand" class="inline-label">Auto expand</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="counter" id="counter" icheck ng-model="tree.counter" />
                                    <label for="counter" class="inline-label">Counter badges</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="hideExpandedCounter" id="hideExpandedCounter" icheck ng-model="tree.hideExpandedCounter" />
                                    <label for="hideExpandedCounter" class="inline-label">hideExpandedCounter</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="highlight" id="highlight" icheck ng-model="tree.highlight" />
                                    <label for="highlight" class="inline-label">Highlight</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="fuzzy" id="fuzzy" icheck ng-model="tree.fuzzy" />
                                    <label for="fuzzy" class="inline-label">Fuzzy</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="regex" id="regex" icheck ng-model="tree.regex" />
                                    <label for="regex" class="inline-label">Regular expression</label>
                                </p>
                            </div>
                            <div class="uk-width-medium-2-3">
                                <div id="tFilter"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>