    <div class="login_page_wrapper">
        <div class="md-card" id="login_card">
            <div class="md-card-content large-padding" id="login_form">
                <div class="login_heading">
                    <img src="assets/img/avatars/user.png" style="width: 8em;height: 8em;">
                </div>
                <form>
                    <div class="uk-form-row">
                        <label for="login_username">Correo</label>
                        <input class="md-input" type="text" id="login_username" ng-model="login_username" md-input />
                    </div>
                    <div class="uk-form-row">
                        <label for="login_password">Contrase&ntilde;a</label>
                        <input class="md-input" type="password" id="login_password" ng-model="login_password" md-input />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a ui-sref="restricted.dashboard" class="md-btn md-btn-warning md-btn-block md-btn-large">Iniciar sesión</a>
                    </div>
                    <div class="uk-margin-top">
                        <a href="#" id="login_help_show" class="uk-float-right" ng-click="loginHelp($event)">¿Necesitas ayuda?</a>
                        <span class="icheck-inline">
                            <input type="checkbox" name="login_page_stay_signed" id="login_page_stay_signed" icheck ng-model="login_signed" />
                            <label for="login_page_stay_signed" class="inline-label">Recordarme</label>
                        </span>
                    </div>
                </form>
            </div>
            <div class="md-card-content large-padding uk-position-relative" id="login_help" style="display: none">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToLogin($event)"></button>
                <h2 class="heading_b uk-text-success">¿No puedes iniciar sesión?</h2>
                <p>Aquí está la información para que regrese a su cuenta lo más rápido posible.</p>
                <p>Primero, intente lo más fácil: si recuerda su contraseña pero no está funcionando, asegúrese de que el Bloqueo de mayúsculas esté desactivado, y de que su nombre de usuario esté escrito correctamente, y luego intente de nuevo.</p>
                <p>Si su contraseña todavía no funciona, es hora de <a href="#" id="password_reset_show" ng-click="passwordReset($event)">restablecer su contrase&ntilde;a</a>.</p>
            </div>
            <div class="md-card-content large-padding" id="login_password_reset" style="display: none">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToLogin($event)"></button>
                <h2 class="heading_a uk-margin-large-bottom">Restablecer contrase&ntilde;a</h2>
                <form>
                    <div class="uk-form-row">
                        <label for="login_email_reset">Tu correo electrónico</label>
                        <input class="md-input" type="text" id="login_email_reset" ng-model="login_email_reset" md-input />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a ui-sref="restricted.dashboard" class="md-btn md-btn-primary md-btn-block">restablecer contrase&ntilde;a</a>
                    </div>
                </form>
            </div>
        </div>
    </div>