<div ng-include="'navbar.html'"></div>
<div ng-include="'slider.html'"></div>
<div class="content"  style="margin-top: 1em;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3 class="title text-warning">Asesores</h3></center>
                    </div>
                    <div class="content">
                        <div>
                            <br>
                            <p style="text-align: justify;"><strong>Osorio Giammaria Gloria Isabel, </strong>abogada, egresada de la Universidad del Norte. Actualmente se desempeña como Directora General del Consultorio Jurídico y Centro de Conciliación y Conciliadora en asuntos en materia civil, comercial y familia. Es especialista en Responsabilidad y Seguros de la Universidad del Norte, Especialista en Derecho Procesal Civil de la Universidad Externado, Magister en Derecho de la Universidad del Norte y Candidata a Doctorado en Derecho de la Universidad del Norte. Entre sus estudios profesionales también se destacan:</p>
                            <ul style="text-align: justify;">
                                <li>Curso de especialización en Contratos y Daños (Universidad de Salamanca)</li>
                                <li>Derechos de Autor en el Siglo XXI (Universidad Complutense de Madrid)</li>
                                <li>Técnicas y Estrategias Comunicativas y de Argumentación para Juristas (Universidad Complutense de Madrid)</li>
                                <li>Mecanismos Alternativos de Solución de Conflictos (Cámara de Comercio de Cartagena)</li>
                                <li>Derecho de Daños (Universidad Complutense de Madrid)</li>
                                <li>Diplomado Nuevos Enfoques de la Práctica Docente (Corporación Universitaria Rafael Núñez)</li>
                                <li>Inducción a Procesos Pedagógicos (Servicio Nacional de Aprendizaje SENA)</li>
                                <li>Interpretación Jurídica y Argumentación (Universidad del Norte)</li>
                                <li>Formación para Semilleros de Investigación (Universidad del Norte)</li>
                            </ul>
                            <p style="text-align: justify;">&nbsp;</p>
                            <p style="text-align: justify;"><strong>Caballero Vélez Antonio Carlos,</strong>&nbsp;abogado, egresado de la Universidad Simón Bolívar, en Convenio con IAFIC. Actualmente se desempeña como Docente Asesor del Consultorio Jurídico Área Civil y Casa de Justicia Canapote, Chiquinquirá y Country. Entre sus estudios realizados se destacan:</p>
                            <ul style="text-align: justify;">
                                <li>Diplomado Pedagogía Básica para orientar la Formación profesional Integral (SENA, 140 horas)</li>
                                <li>Diplomado en Formación como Conciliador (TECNAR, 150 horas)</li>
                                <li>Diplomado en Actualización en Jurisprudencia (Universidad Simón Bolívar)</li>
                                <li>Diplomado en nuevos enfoques pedagógicos de la práctica docente (Corporación Universitaria Rafael Núñez, 120 horas)</li>
                            </ul>
                            <p style="text-align: justify;">&nbsp;</p>
                            <p style="text-align: justify;"><strong>Camargo Castellar Liliana Margarita,&nbsp;</strong>abogada, egresada de la Universidad de Cartagena. Actualmente se desempeña como Docente Asesor Área de Derecho Civil y Casa de Justicia Chiquinquirá. Es especialista en Docencia Universitaria de la Universidad Santo Tomás y especialista en Derecho Comercial de la Universidad Libre. Además, tiene una maestría en Desarrollo Social de la Universidad del Norte, entre otros estudios como los que se resaltan a continuación:</p>
                            <ul style="text-align: justify;">
                                <li>Diplomado en Negociación y Solución de Conflictos (Universidad Libre)</li>
                                <li>Diplomado en Docencia para la Educación Superior (Pontifica Universidad Javeriana, 120 horas)</li>
                                <li>Diplomado: La lectura y la escritura como estrategia pedagógica para el desarrollo de competencias comunicativas (Corporación Universitaria Rafael Núñez, 80 horas)</li>
                                <li>Diplomado: La lectura y la escritura en los procesos investigativos (TECNAR, Corporación Universitaria Rafael Núñez y Tecnológico Comfenalco, 120 horas)</li>
                                <li>Diplomado Investigación Científica (TECNAR y Tecnológico Comfenalco, 120 horas)</li>
                            </ul>
                            <p style="text-align: justify;">&nbsp;</p>
                            <p style="text-align: justify;"><strong>Espinosa Buelvas Martha Raquel,&nbsp;</strong>abogada, egresada de la Universidad de Cartagena. Actualmente se desempeña como Docente Asesor Consultorio Jurídico Área Familia y Casa de Justicia Country. Es especialista en Derecho de Familia, de la Universidad Externado de Colombia y la Universidad de Cartagena. Entre sus estudios profesionales también se destacan:</p>
                            <ul style="text-align: justify;">
                                <li>Diplomado en Formación Pedagógica Básica (SENA, 140 horas)</li>
                                <li>Diplomado en el Código de la Infancia y la Adolescencia (Universidad Libre, 120 horas)</li>
                                <li>Diplomado: La lectura y la escritura como estrategia pedagógica para el desarrollo de competencias comunicativas (Corporación Universitaria Rafael Núñez, 80 horas)</li>
                                <li>Diplomado: Formación de Conciliador (Cámara de Comercio de Cartagena, 100 horas)</li>
                                <li>Diplomado: Didácticas del Profesor de Educación Superior (TECNAR, 3 créditos académicos)</li>
                                <li>Diplomado en Investigación (Corporación Universitaria Rafael Núñez, 140 horas)</li>
                            </ul>
                            <p style="text-align: justify;">&nbsp;</p>
                            <p style="text-align: justify;"><strong>Pardo de Howard Antonia Esperanza,</strong>&nbsp;abogada, egresada de la Universidad de Cartagena. Actualmente se desempeña como Docente Asesor del Consultorio Jurídico, Área de Derecho de Familia y Casa de Justicia Canapote. Es especialista en Derecho de Familia de la Universidad Externado de Colombia y la Universidad de Cartagena. Entre sus estudios profesionales también se destacan:</p>
                            <ul style="text-align: justify;">
                                <li>Diplomado: Capacitación en Mecanismos Alternativos de Solución de Conflictos – Abogado Conciliador (Cámara de Comercio de Cartagena, 130 horas)</li>
                                <li>Diplomado en Docencia para la Educación Superior (Pontifica Universidad Javeriana, 120 horas)</li>
                                <li>Diplomado: Estrategias de enseñanza para el desarrollo de aprendizajes significativos (Fundación Universitaria Tecnológico Comfenalco, 160 horas)</li>
                                <li>Diplomado: Las TICS herramienta para la enseñanza del profesor (TECNAR, 3 créditos)</li>
                            </ul>
                            <p style="text-align: justify;"><strong>Fortich Lozano Iliana,&nbsp;</strong>abogada, egresada de la Corporación Universitaria de la Costa. Actualmente se desempeña como Docente Asesora en el Consultorio Jurídico y Centro de Conciliación en el área Laboral. Es especialista en Seguridad Social de la Universidad de Cartagena. Entre sus estudios profesionales también se destacan:</p>
                            <ul style="text-align: justify;">
                                <li>Diplomado en Conciliación (Universidad de Cartagena)</li>
                                <li>Diplomado en Pedagogía y Docencia Universitaria (Universidad Libre sede Cartagena)</li>
                            </ul>
                            <p style="text-align: justify;">&nbsp;</p>
                            <p style="text-align: justify;"><strong>Alvarado Barreto César Alonso,</strong> abogado, egresado de la Corporación Universitaria Rafael Núñez. Actualmente se desempeña como Docente Asesor en el Consultorio Jurídico y Centro de Conciliación en el área de Derecho Comercial y es el docente encargado del Proyecto de Innovación. Es especialista en Derecho Empresarial de la Universidad Autónoma de Bucaramanga. Entre sus estudios profesionales también se destacan:</p>
                            <ul style="text-align: justify;">
                                <li>Diplomado en Pedagogía Universitaria (Universidad Libre)</li>
                            </ul>
                            <p style="text-align: justify;">&nbsp;</p>
                            <p style="text-align: justify;"><strong>Cabarcas Muñiz Juan Carlos,</strong> abogado, egresado de la Universidad de Cartagena. Actualmente se desempeña en el Consultorio Jurídico y Centro de Conciliación en el área de Derecho Penal. Es especialista en Derecho Penal y Criminología de la Universidad Libre. Entre sus estudios profesionales también se destacan:</p>
                            <ul style="text-align: justify;">
                                <li>Diplomado en Nuevo Código de Procedimiento Penal y Juicio Oral (Corporación Universitaria Rafael Núñez)</li>
                                <li>Diplomado sobre Formación Pedagógica (Universidad de Cartagena)</li>
                                <li>IV Encuentro de la Jurisdicción Constitucional (Corte Constitucional)</li>
                            </ul>
                            <p style="text-align: justify;">&nbsp;</p>
                            <p style="text-align: justify;"><strong>Ochoa Montes Manuel Antonio,</strong> abogado, egresado de la Universidad de San Buenaventura. Actualmente se desempeña en el Consultorio Jurídico y Centro de Conciliación en el área de Derecho Ambiental y Protección Animal. Es especialista en Derecho Administrativo de la Universidad Libre.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                &copy; 2018<a class="text-warning">Consultorio Juridico CURN</a>, Estamos para ayudarte.
            </p>
        </div>
    </footer>