<style type="text/css">
.ng-table th.sortable,
.table>thead>tr>th {
    color: #FFA534 !important;
    font-size: 18px;
    font-weight: 500;
}

.footer {
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
</style>
<div ng-include="'navbar.html'"></div>
<div ng-controller="consultasController as control">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="header">
                        <center>
                            <h3 style="font-weight: 400;" class="title text-warning">Consultas Realizadas.</h3>
                        </center>
                    </div>
                    <div class="content" ng-init="control.cargarConsultas()">
                        <table ng-table="control.tablaConsultas" class="table table-striped table-responsive">
                            <tr ng-repeat="item in $data">
                                <td data-title="'Radicado'" filter="{radicado: 'text'}" sortable="'radicado'">
                                    <center>{{item.radicado}}</center>
                                </td>
                                <td data-title="'Fecha Consulta'" filter="{fecha_consulta: 'text'}" sortable="'fecha_consulta'">
                                    {{item.fecha_consulta}}
                                </td>
                                <td data-title="'Asunto'" filter="{asunto: 'text'}" sortable="'asunto'">
                                    {{item.asunto}}
                                </td>
                                <td data-title="'Estado'" filter="{estado: 'text'}" sortable="'estado'">
                                    <center>
                                        <p ng-class="{'btn-danger': item.estado == 'Sin asignar', 'btn-warning': item.estado == 'Asignada'}" class="btn btn-fill btn-sm">{{item.estado}}</p>
                                    </center>
                                </td>
                                <td data-title="'Acciones'" class="text-right">
                                    <a class="btn btn-simple btn-info btn-icon like" ng-click="control.detallesConsulta(item)"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-simple btn-danger btn-icon remove"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Detalles de Consulta</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>La Consulta fue realizada el dia <b ng-bind="control.detalles.fecha"></b> identificada con el radicado <b ng-bind="control.detalles.radicado"></b> y su estado actual es <b ng-bind="control.detalles.estado"></b>.</p>
                                        <p ng-show="control.detalles.area_asignada">Area Asignada: <b ng-bind="control.detalles.area_asignada"></b></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy; 2018 <a href="#" class="text-warning">Consultorio Juridico CURN</a>, Estamos para ayudarte.
        </p>
    </div>
</footer>