<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy;2018
            <a  class="text-warning">Consultorio Juridico CURN</a>, Estamos para ayudarte.
        </p>
    </div>
</footer>