<div ng-include="'navbar.html'"></div>
<div ng-include="'slider.html'"></div>
<div class="content" style="margin-top: 1em;">
    <div class="container-fluid">
        <div class="row" ng-controller="mainController as control">
            <div class="col-md-9">
                <div class="nav-container">
                    <ul class="nav nav-icons" role="tablist">
                        <li class="active">
                            <a ng-click="control.acercaDe()" role="tab" data-toggle="tab">
                                        <i class="fa fa-legal"></i><br>
                                        Acerca de
                                    </a>
                        </li>
                        <li>
                            <a ng-click="control.resenaHist()" role="tab" data-toggle="tab">
                                        <i class="fa fa-newspaper-o"></i><br>
                                        Reseña
                                    </a>
                        </li>
                        <li class="">
                            <a ng-click="control.mision()" role="tab" data-toggle="tab">
                                        <i class="fa fa-puzzle-piece"></i><br>
                                        Mision
                                    </a>
                        </li>
                        <li class="">
                            <a ng-click="control.vision()" role="tab" data-toggle="tab">
                                        <i class="fa fa-trophy"></i><br>
                                       Vision
                                    </a>
                        </li>
                        <li class="">
                            <a ng-click="control.objetivos()" role="tab" data-toggle="tab">
                                        <i class="fa fa-rocket"></i><br>
                                       Objetivos
                                    </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="description-logo">
                        <div class="card">
                            <div class="header">
                                <center>
                                    <h4 class="title text-warning">ACERCA DE</h4></center>
                            </div>
                            <div class="content">
                                <p style="text-align: justify;">El Consultorio Jurídico y Centro de Conciliación de la Corporación Universitaria Rafael Núñez, es una Unidad Académico Administrativa, adscrita al Programa de Derecho, escenario de práctica de los estudiantes de los Programas de Derecho y Trabajo Social.</p>
                                <p style="text-align: justify;"> El Centro de Conciliación además se encuentra certificado en calidad bajo la Norma Técnica NTC 5906:2012 de ICONTEC – MINJUSTICIA, y cuenta con el Aval para formar en Conciliación Extrajudicial en Derecho (Resolución No. 0352 del 2017 del Ministerio de Justicia y del Derecho) que garantiza una adecuada formación en nuestros estudiantes en Mecanismos Alternativos de Solución de Conflictos, acorde con nuestro perfil conciliador.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="resena-logo">
                        <div class="card">
                            <div class="header">
                                <center>
                                    <h4 class="title text-warning">RESEÑA HISTORICA</h4></center>
                            </div>
                            <div class="content">
                                <p style="text-align: justify;">El Consultorio Jurídico de la Corporación Universitaria Rafael Núñez, fue aprobado en el año de 1997, mediante resolución No. 0028 de Diciembre 19 de 1997. Este centro, presta sus servicios en aras de llegar a ser un escenario óptimo en la cooperación con la justicia, con evidente liderazgo en la ciudad y proyección en las comunidades más desfavorecidas.
                                    <br>Desde 1997 se integró al Consultorio Jurídico el CENTRO DE CONCILIACIÓN, que busca además la formación integral de los profesionales del Derecho en la conciliación, en la tolerancia y oportunidad de manejo de una solución equitativa de los conflictos, recurriendo a la conciliación como método alternativo para su solución de conflictos. El CENTRO DE CONCILIACIÓN se rige bajo los parámetros legales de la ley 640 de 2001, decreto 030 de 2002, y además las normas que rigen para los consultorios jurídicos con los decreto ley 196 de 1991, decreto 765 de 1977 y ley 583 de 2000.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="mision-logo">
                        <div class="card">
                            <div class="header">
                                <center>
                                    <h4 class="title text-warning">MISIÓN DEL CONSULTORIO JURÍDICO Y CENTRO DE CONCILIACIÓN</h4></center>
                            </div>
                            <div class="content">
                                <p style="text-align: justify;">
                                    <br>Brindar a nuestros estudiantes formación integral en la atención jurídica especializada de todas las áreas del Derecho y en Mecanismos Alternativos de Solución de Conflictos, en tolerancia y en manejo de soluciones equitativas, para ofrecer a la comunidad asesoría jurídica en todas las áreas del Derecho, representación judicial y trámite de procesos conciliatorios, con eficiencia, eficacia, agilidad, imparcialidad, rigor académico, profesionalismo jurídico y atención de calidad. Contamos con un sistema eficiente de organización y gestión empresarial y un ejercicio profesional de probada competencia y experiencia certificadas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="vision-logo">
                        <div class="card">
                            <div class="header">
                                <center>
                                    <h4 class="title text-warning">VISIÓN DEL CONSULTORIO JURÍDICO Y CENTRO DE CONCILIACIÓN</h4></center>
                            </div>
                            <div class="content">
                                <p style="text-align: justify;">
                                    <br>Mantener siempre la vanguardia en la prestación de los servicios de asesoría jurídica, representación judicial y atención de trámites conciliatorios a nuestros Usuarios, con excelentísima calidad jurídica, profesional y de atención al cliente, así como mantener un escenario óptimo de cooperación con la Justicia, con evidente liderazgo en la ciudad y proyección en las comunidades más desfavorecidas. Además, mantener la permanente formación integral de nuestros estudiantes en la atención jurídica en todas las áreas del Derecho, en Mecanismos Alternativos de Solución de Conflictos, en tolerancia y en manejo de soluciones equitativas, recurriendo siempre a la Conciliación para la solución de los mismos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="objetivos-logo">
                        <div class="card">
                            <div class="header">
                                <center>
                                    <h4 class="title text-warning">¿CUALES SON OBJETIVOS DE CALIDAD DEL CONSULTORIO JURÍDICO Y CENTRO DE CONCILIACIÓN?</h4></center>
                            </div>
                            <div class="content">
                                <p style="text-align: justify;">El Consultorio Jurídico y Centro de Conciliación de la Corporación Universitaria Rafael Núñez, tiene como Objetivos de Calidad los siguientes:</p>
                                <ol>
                                    <li style="text-align: justify;">Garantizar de manera permanente y constante, mediante el programa de educación continua, el conocimiento jurídico y científico de nuestros estudiantes de Derecho de Práctica Jurídica, con el fin de prestar óptimos servicios de Asesoría Jurídica y de Conciliación, desarrollados con el correcto cumplimiento normativo y sin margen de error.</li>
                                    <li style="text-align: justify;">Garantizar de manera permanente y constante el empleo del conocimiento jurídico y científico en las Asesorías jurídicas y en los Trámites Conciliatorios, así como la legalidad y la transparencia en los mismos, proporcionando siempre la logística y la infraestructura necesarias para que los Conciliadores (Estudiantes de Práctica Jurídica y Docentes Asesores) cumplan sus funciones como asesores jurídicos, apoderados especiales y operadores de justicia, coadyuvando así en la construcción de la paz, a través de los valores y principios de Igualdad, Imparcialidad, Democracia, Participación y Dignidad Humana.</li>
                                    <li style="text-align: justify;">Ofrecer a los usuarios y a la comunidad los mecanismos de información al público sobre los procesos de Consultorio Jurídico y Centro de Conciliación como servicios principales y controlar y evaluar de manera constante el cumplimiento correcto de los mismos para su información y mejoramiento.</li>
                                    <li style="text-align: justify;">Capacitar de manera continua a los Conciliadores (Estudiantes de Práctica Jurídica y Docentes Asesores) y demás personas vinculadas al Consultorio Jurídico y Centro de Conciliación en los temas de atención al cliente, de utilidad y vanguardia jurídica, igualmente sobre la responsabilidad penal, civil, disciplinaria, patrimonial y de otra índole que asumen al ejercer sus funciones.</li>
                                    <li style="text-align: justify;">Crear, ampliar y fortalecer las alternativas en servicio profesional jurídico y en Mecanismos Alternativos de Solución de Conflictos que pueda brindar el Consultorio Jurídico y Centro de Conciliación.</li>
                                    <li style="text-align: justify;">Lograr la plena y óptima satisfacción de nuestros usuarios en la prestación de nuestros servicios.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:6.3em">
                <form ng-submit="control.verificarConsulta()">
                    <div class="card card-hidden">
                        <div class="header text-center">Verifica el estado de tu consulta</div>
                        <div class="content">
                            <div class="form-group">
                                <label class="control-label">N° de Consulta</label>
                                <input class="form-control" type="text" ng-model="control.datos.radicadoConsultar" name="radicado_consulta" required>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-fill btn-warning"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Detalles de Consulta</h4>
                        </div>
                        <div class="modal-body">
                            <p>La Consulta realiza el dia <b ng-bind="control.resultado[0].fecha"></b> identificada con el radicado  <b ng-bind="control.resultado[0].radicado"></b> se encuentra en estado <b ng-bind="control.resultado[0].estado"></b>.</p>
                            <p ng-show="control.resultado[0].area_asignada">Area Asignada: <b ng-bind="control.resultado[0].area_asignada"></b></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<footer class="footer" style="bottom: 0px">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy;2018
            <a class="text-warning">Consultorio Juridico CURN</a>, Estamos para ayudarte.
        </p>
    </div>
</footer>