<style type="text/css">
.notification {
    position: absolute;
    background-color: #FB404B;
    text-align: center;
    border-radius: 10px;
    min-width: 18px;
    padding: 0 5px;
    height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 18px;
    top: 8px;
    left: 10px;
}

.category {
    font-size: 14px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 0px;
}
</style>
<nav class="navbar navbar-inverse" ng-controller="mainController as control">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/img/logomobile.png" width="180px" height="50px" style="margin-top: -15px;margin-left: -10px;margin-right: -10px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a ui-sref="inicio">Inicio</a></li>
                <li><a ui-sref="convenios">Convenios</a></li>
                <li><a ui-sref="asesores">Asesores</a></li>
                <li><a ui-sref="asesores">Areas de atención</a></li>
                <li ng-show="control.sesion" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Consultas<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="AddConsultas"><i class="fa fa-plus-circle"></i> Nueva</a></li>
                        <li><a ui-sref="historialConsultas"><i class="fa fa-newspaper-o"></i> Historial</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Información<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="horario"><i class="fa fa-calendar"></i>Horarios</a></li>
                        <li><a ui-sref="ubicacion"><i class="fa fa-map-marker"></i>Ubicación</a></li>
                        <li><a ui-sref="reglamento"><i class="fa fa-book"></i>Reglamento</a></li>
                        <li><a ui-sref="preguntas"><i class="fa fa-question-circle"></i>Preguntas Frecuentes</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="control.sesion">
                <li><a ui-sref="registro"><span class="glyphicon glyphicon-user"></span> Realizar consulta</a></li>
                <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="control.sesion">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{control.usuario.nombre | uppercase}} <img src="assets/img/faces/face-0.jpg" style="width: 2.1em;height: 2.1em" class="img img-circle"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="perfil"><i class="fa fa-user"></i>Mi cuenta</a></li>
                        <li><a ng-click="control.logOut()"><i class="fa fa-map-marker"></i>Cerrar sesion</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="modal" data-target="#ModalNotificaciones" aria-expanded="false">
                        <i style="font-size: 2em" class="fa fa-bell-o"></i>
                        <span class="notification" ng-show="control.notificaciones.length > 0"  ng-bind="control.notificaciones.length"></span>
                        <p class="hidden-md hidden-lg">Notificaciones</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="ModalNotificaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Notificaciones</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="control.notificaciones.length <= 0">
                            <p class="category">No hay notificaciones que mostrar</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>