<div ng-include="'navbar.html'"></div>
<style type="text/css">
.footer {
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
</style>
<div class="main-content" style="margin-bottom: 3.5em;" ng-controller="mainController as control">
    <div class="container-fluid">
        <div class="row" ng-init="control.informacionPersonal();control.cargarEstadoCivil();control.cargarSexo();control.cargarDepartamentos();">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>identificacion (deshabilitada)</label>
                                        <input type="text" ng-model="control.datosPersonales.identificacion" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>nombre completo</label>
                                        <input type="text" class="form-control" ng-model="control.datosPersonales.nombre">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>telefono</label>
                                        <input type="text" class="form-control" ng-model="control.datosPersonales.telefono">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>sexo</label>
                                        <select class="form-control" ng-model="control.datosPersonales.sexo">
                                            <option ng-repeat="item in control.sexos">{{item.sexo}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>estrato</label>
                                        <input type="number" max="3" ng-model="control.datosPersonales.estrato" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>dirección</label>
                                        <input type="text" class="form-control" ng-model="control.datosPersonales.direccion">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <select class="form-control" ng-model="control.datosPersonales.idDepartamento" ng-change="control.cargarMunicipios(control.datosPersonales.idDepartamento)" >
                                            <option selected>Escoja una opción</option>
                                            <option ng-repeat="item in control.departamentos" value="{{item.id_departamento}}">{{item.departamento}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Municipio</label>
                                        <select class="form-control" ng-model="control.datosPersonales.municipio" >
                                            <option ng-repeat="item in control.municipios">{{item.municipio}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>estado civil</label>
                                        <select class="form-control" ng-model="control.datosPersonales.estado_civil">
                                            <option ng-repeat="item in control.estados">{{item.tipo}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="5" class="form-control" placeholder="Here can be your description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/ch.jpg" alt="assets/img/ch.jpg" />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                    <img class="avatar border-gray" src="assets/img/faces/face-0.jpg" alt="assets/img/faces/face-0.jpg"/>
                                      <h4 class="title">{{control.usuario.nombre | uppercase}}<br />
                                         <small>{{control.usuario.correo}}</small>
                                      </h4>
                                    </a>
                        </div>
                        <br>
                        <center>
                            <button type="button" class="btn btn-fill btn-warning">Cambiar contrase&ntilde;a</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy; 2018 <a href="#" class="text-warning">Consultorio Juridico CURN</a>, Estamos para ayudarte.
        </p>
    </div>
</footer>