<div ng-include="'navbar.html'"></div>
<div class="content" style="margin-top: 1em;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <center>
                            <h3 class="title text-warning">Reglamento interno y código de ética.</h3></center>
                    </div>
                    <div class="content">
                        <iframe src="https://docs.google.com/gview?url=http://69.175.103.163/~jcabarcasp21/Reglamento.pdf&embedded=true" style="width:100%; height:650px;" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy;2018 <a class="text-warning">Consultorio Juridico CURN</a>, Estamos para ayudarte.
        </p>
    </div>
</footer>