<div ng-include="'navbar.html'"></div>
<div class="wrapper">
        <div id="map" class="full-screen-map"></div>
</div>


    <script>
        $().ready(function(){
            demo.initFullScreenGoogleMap();
        });
    </script>
