<div id="page_content">
    <div id="page_content_inner" ng-init="control.cargarConsultas();control.createPageSelectize();">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <h1 style="margin-bottom: 2em;font-size: 1.4em" class="heading_a">Listado de consultas</h1>
                    <!-- 
                    <a href="#" class="md-btn uk-margin-right" id="printTable">Print Table</a> -->
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <button class="md-btn">Columnas <i class="uk-icon-caret-down"></i></button>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>
                </div>
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                            <tr>
                                <th data-name="Seleccionar" data-priority="1">
                                    <input type="checkbox" class="ts_checkbox_all">
                                </th>
                                <th data-priority="1">Solicitante</th>
                                <th data-priority="1">Fecha</th>
                                <th data-priority="2">Asunto</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Estado</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in control.table_data" on-last-repeat>
                                <td>
                                    <input type="checkbox" class="ts_checkbox" data-md-icheck icheck ng-model="row_select">
                                </td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.fecha_consulta}}</td>
                                <td>{{item.asunto | cortarTexto:20}}</td>
                                <td class="uk-text-center"><span class="uk-badge" ng-class="{'uk-badge-danger': item.estado == 'Sin asignar', 'uk-badge-warning': item.estado == 'Asignada'}">{{item.estado}}</span></td>
                                <td class="uk-text-center">
                                    <a ng-if="item.area_asignada==null" data-uk-modal="{target:'#modal_asignar_area'}"><i class="md-icon material-icons">&#xE7F0;</i></a>
                                    <a ng-click="control.detalles(item)" data-uk-modal="{target:'#modal_header_footer'}"><i class="md-icon material-icons">&#xE8F4;</i></a>
                                    <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ts_pager">
                    <ul class="uk-pagination ts_pager">
                        <li data-uk-tooltip title="Seleccione pagina">
                            <select class="ts_gotoPage ts_selectize"></select>
                        </li>
                        <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                        <li><span class="pagedisplay"></span></li>
                        <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                        <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li data-uk-tooltip title="Tamaño por pagina">
                            <select class="pagesize ts_selectize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-modal" id="modal_header_footer">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3 class="uk-modal-title">Detalles</h3>
                            </div>
                            <p ng-bind="control.detalleResolucion.asunto"></p>
                            <h3 ng-if="control.detalleResolucion.area_asignada!=null" class="uk-modal-title">Area asignada</h3>
                            <p ng-if="control.detalleResolucion.area_asignada!=null" ng-bind="control.detalleResolucion.area_asignada"></p>
                            <div class="uk-modal-footer uk-text-right">
                                <button type="button" class="md-btn md-btn-default uk-modal-close">Cerrar</button>
                                <button ng-if="control.detalleResolucion.area_asignada==null" type="button" class="md-btn md-btn-primary uk-modal-close" data-uk-modal="{target:'#modal_asignar_area'}">Asignar area</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-modal" id="modal_asignar_area" ng-init="control.cargarAreas()">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3 class="uk-modal-title">Elija un area</h3>
                            </div>
                        <input type="text" config="control.select_config" options="control.areas" ng-model="control.detalleResolucion.detallesArea" name="selectize_c" selectize>
                            <div class="uk-modal-footer uk-text-right">
                                <button type="button" class="md-btn md-btn-default uk-modal-close">Cerrar</button>
                                <button type="button" ng-click="control.asignarArea(control.detalleResolucion.detallesArea)" class="md-btn md-btn-primary uk-modal-close">Asignar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>